body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table__svg {
  cursor: pointer;
  margin: 8px;
}

.table__svg_position {
  cursor: pointer;
  margin: 8px;
  transform: rotate(180deg);
}

.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.card {
  width: 18rem;
  margin-bottom: 16px;
}

.input_width {
  width: 16rem;
}

.error {
  color: red;
}

.app {
  padding: 10px;
}

.page-link.active {
  color: white;
  background-color: #0d6efd;
}

.row-hover {
  cursor: pointer;
}

.row-hover:hover {
  background-color: #0d6efd;
  color: white;
}

.pagination-sm .page-item:first-child .page-link {
  background-color: #0d6efd;
  color: white;
}
